
$color-green = #09cda6;
$color-blue = #00DCEA;
$color-led-on = $color-blue;
$color-led-off = #222;
$color-led-warn = #cd9109;
$color-led-replace = #cd0956;
$color-bg-grey = rgb(57, 60, 66);
$border-radius = 0.2em;

html, body {
    font-size: 1.35vw;
    background: rgb(23, 24, 28);
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#app {
    font-family: 'Open Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-align: center;
    color: #2c3e50;
    white-space: nowrap;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
}

#app * {
    white-space: normal;
}

h1 {
    font-size: 2em;
    margin-bottom: 0.5em;
    font-weight: 300;
}

h2 {
    font-size: 1.3em;
    font-weight: 300;
}

h3 {
    font-size: 1.2em;
    font-weight: 300;
}

h4 {
    font-size: 1.1em;
    font-weight: 300;
}

.text {
    &-blue {
        color: $color-blue;
    }
    &-grey {
        font-weight: 200;
        color: #ccc;
    }
}

.view {

    &-menu {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        position: relative;
        width: 4em;
        text-align: left;
        font-size: 1rem;
        height: 100vh;
        vertical-align: top;
        padding: 2em 1em 2em 1em;
        transition: all 1s cubic-bezier(0.600, 0.040, 0.980, 0.335);
        background: rgba(43,46,48,0.5);
        opacity: 1;

        &.collapse {
            transform:translateX(-13em);
        }

        a {
            color: white;
            display: block;
            text-align: center;
            padding-bottom: 1.5em;
            opacity: 0.3;

            &.selected {
                font-weight: 300;
                opacity: 1;
                color: $color-blue;
            }
        }

        a.router-link-exact-active {
            font-weight: bold;
        }
    }

    &-viewport {
        display: inline-block;
        position: relative;
        width: calc(100vw - 4em);
        text-align: center;
        font-size: 1rem;
        height: 100vh;
        vertical-align: top;
        color: #fff;
        transition: all 1s cubic-bezier(0.645, 0.045, 0.355, 1.000);

        &.expand {
            transform:translateX(-13em);
        }
    }

    &-page {
        border-top-left-radius: 2em;
        border-bottom-left-radius: 2em;
        background: none;
        display: inline-block;
        width: calc(100% - 17em);
        vertical-align: top;
        padding: 2em 2em 2em 1em;
    }

    &-list {
        display: inline-block;
        width: 17em;
        color: white;
        vertical-align: top;
        padding: 1em 0 1em 1em;
    }
}

.list-rounded {
    border-top-right-radius: 2em;
    border-bottom-right-radius: 2em;
}

.btn {

    display: inline-block;
    position: relative;
    border-radius: $border-radius;
    margin-bottom: 0.2em;
    color: #444;

    &-bg {
        background-color: #ccc;
    }

    &.delete, &.close {
    }

    &.close {
        background: none;
    }

    &.delete {
        background-color: $color-led-replace;
        color: white;
    }

    &.save {
        background-color: $color-green;
        color: white;
    }

    &.add {
        background-color: $color-blue;
        color: white;
    }

    &.saved::before {
        display:flex;
        align-items: center;
        justify-content: center;
        position: absolute;
        top:0;
        left:0;
        width: 100%;
        height:100%;
        content:'SAVED';
        background-color: $color-led-on;
        color: white;
        font-weight: bold;
        border-radius: 0.2em;
    }
}

div.toggle {
    display: inline-block;
    position: relative;
    vertical-align: top;
    text-align: left;
    margin: 0 1em 1em 0;
    background: rgba(43,46,48,1);
    background: -moz-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(43,46,48,1)), color-stop(100%, rgba(57,60,66,1)));
    background: -webkit-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: linear-gradient(135deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    border-radius: $border-radius;
    padding: 1.5em;
    width: 9em;
    height: 13em;
    color: #fff;

    .name {
        position: absolute;
        display: block;
        bottom: 1.5em;
        left: 1.5em;
        width: calc(100% - 3em);
        text-transform: capitalize;
    }

    .indicator {
        position: relative;
        width: 100%;
        text-align: left;
        color: $color-blue;
        font-weight: bold;

        .led {
            display:block;
            width: 0.5em;
            height: 0.5em;
            border-radius:0.25em;

            &.on {
                background-color: $color-led-on;
            }

            &.off {
                background-color: $color-led-off;
            }

            &.replace, &.delete {
                background-color: $color-led-replace !important;
            }

            &.warn {
                background-color: $color-led-warn;
            }
        }
    }

    &.on {
        .indicator .led {
            background-color: $color-led-on;
        }
    }

    &.off {
        .indicator .led {
            background-color: $color-led-off;
        }
    }

    &.unavailable {
        opacity: 0.5;
    }

    &.unselected {
        opacity: 0.5;
    }

    &.selected {
        opacity: 1;
        background-color: $color-green;
        color: white;
        font-weight: bold
    }

}

input[type="checkbox"].toggle {

    position: relative;
    display: none;
    width: 2em;
    height: 1em;

    & + label {
        display: inline-block;
        position: relative;
        top:0;
        left:0;
        content:'';
        width: 2.55em;
        height: 1.5em;
        border-radius: 0.75em;
        background: none;
        border: 2px solid $color-blue;
        transition: all 0.5s ease;
    }

    & + label:after {
        display: block;
        position: absolute;
        top:0;
        left:0;
        content:'';
        width: 1em;
        height: 1em;
        margin: 0.15em;
        border-radius: 0.5em;
        background-color: $color-bg-grey;
        transform: translateX(0);
        transition: all 0.5s ease;
    }

    &:checked + label {
    }

    &:checked + label:after {
        transform: translateX(1em);
        background-color: $color-blue;
    }

}

.list-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    position: relative;
    text-align: left;
    border-radius: $border-radius;
    width: 100%;
    height: 5em;
    line-height: 1.3em;
    background: rgba(43,46,48,1);
    background: -moz-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(43,46,48,1)), color-stop(100%, rgba(57,60,66,1)));
    background: -webkit-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    background: linear-gradient(135deg, rgba(43,46,48,1) 0%, rgba(57,60,66,1) 100%);
    margin-bottom: 0.5em;
    opacity: 0.3;
    transition: all 0.5s ease;
    // transform: translateX(-2em);

    & > div {
        height:100%;
        padding: 1em 2em;
    }

    .name {
        flex:1;
        position: relative;
        display: flex;
        align-items: center;
        justify-content: flex-start;
        padding-left: 0;
        cursor: pointer;
    }

    .indicator {
        flex: 0 0 4em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;
        padding:0;

        .led {
            display:block;
            width: 0.5em;
            height: 0.5em;
            border-radius:0.25em;

            &.on {
                background-color: $color-led-on;
            }

            &.off {
                background-color: $color-led-off;
            }

            &.replace {
                background-color: $color-led-replace;
            }

            &.warn {
                background-color: $color-led-warn;
            }
        }
    }

    &.on {
        .indicator .led {
            background-color: $color-led-on;
        }
    }

    &.off {
        .indicator .led {
            background-color: $color-led-off;
        }
    }

    &.unavailable {
        opacity: 0.3;
    }

    &.selected {
        opacity: 1;
        // transform: translateX(-1em);
    }


}

.table-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    position: relative;
    text-align: left;
    border-radius: 5px;
    width: 100%;
    padding: 0.5em 0;

    &.hide {
        // padding: 0;
    }

    .indicator {
        flex: 0 0 5em;
        display: flex;
        align-items: center;
        justify-content: center;
        cursor: pointer;

        .led {
            display:block;
            width: 0.5em;
            height: 0.5em;
            border-radius:0.25em;

            &.on {
                background-color: $color-led-on;
            }

            &.off {
                background-color: $color-led-off;
            }

            &.replace {
                background-color: $color-led-replace;
            }

            &.warn {
                background-color: $color-led-warn;
            }
        }
    }

    &.unavailable {
        opacity: 0.5;
    }

    & > div {
        flex: 1;

        &.indicator, &.user-action {
            flex: 0 0 5em;
        }

        &.extend {
            flex: 2;
        }

        &:last-child {
            text-align: right;
        }
    }
}

i.fas {
    &.on {
        color: $color-led-on;
    }

    &.off {
        color: $color-led-off;
    }

    &.replace {
        color: $color-led-replace;
    }

    &.warn {
        color: $color-led-warn;
    }
}

.color-pallet {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    vertical-align: top;
    width: 100%;
    height: 100%;

    & div {
        background-color: #ccc;
        border-radius:50%;
        height: 2rem;
        width: 2rem;
        margin-right: 1em;
    }
}

.popup {
    position: fixed;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
    top: 0;
    left: 0;
    z-index: 500;
    background-color: rgba(0,0,0,0.75);
    transition: all 1s ease;

    & > div {
        background-color: white;
        text-align: left;
        padding: 2em;
        min-width: 50vw;
        max-width: 80vw;
        max-height: 80vh;
        overflow-y: auto;
        overflow-x: hidden;
        color: #444;
    }
}

.spinner {
    display: block;
    text-align: center;
    font-size: 2em;
    color: $color-led-on;
    padding: 3em;
    animation-name: spin;
    animation-duration: 2000ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

.shake {
  animation: shake 0.5s linear;
}

@keyframes shake {
  0% {
    transform: translate(0);
  }
  20% {
    transform: translate(3em);
  }
  40% {
    transform: translate(-3em);
  }
  60% {
    transform: translate(3em);
  }
  80% {
    transform: translate(-3em);
  }
  100% {
    transform: translate(0);
  }
}

.no-style {
    border:none !important;
    padding:0 !important;
    margin:0 !important;
}

.number {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 3em;
    width: auto;
    cursor: pointer;
    border: 1px solid #ccc;
    transition: all 0.2s ease;

    &.pressed {
        background-color: #ccc;
    }
}

.countdown {
    font-size: 10em;
}

.scroll {
    &-horizontal {
        width: 100%;
        overflow-y: hidden;
        overflow-x: scroll;
        white-space: nowrap !important;

        .list-item {
            display: inline-flex;
            width: 19.1em;
            margin: 0 1em 1em 0;
        }
    }
}
